/*sets the bg and text color of the body. Main work here is the initial background image, and transformation speed.*/
body { background-color: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	font-family: ;
	background-image: url(images/BGPH-main.jpg); 
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
			-webkit-transition: all 20s linear;
			-moz-transition: all 20s linear;
			-o-transition: all 20s linear;
			-ms-transition: all 20s linear;
			transition: all 20s linear;
	}

form {font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: large;
	background-color: white;
	color: black;
	border: 2px solid #68e3ff;	
	border-radius: 8px;
	padding: 16px 32px;
	display: inline-block;
	align: middle;
	}

.storynav {font-size: large;
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color: white;
	color: black;
	border: 2px solid #68e3ff;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
	}

.storynav:hover {background-color: #68e3ff;
	color: white;}

/*styles regular paragraphs — body of the story — */
article.basic {font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: large;
	}	
	
article.robot {
    font-family: "Lucida Console", Monaco, monospace;
	text-indent: 0px;
	font-size: large;
	}
	
div.titlebar{
	position:fixed;
	height: 13%;
	background-color: rgba(0,0,0,0.7);
	box-shadow: inset 5px 5px 2px white, inset -5px -5px 2px grey;
	width: 100%;
    padding: 0.5%;
	}
	
h1.title{
	font-family: 'Montserrat Subrayada';
	color: white;
	font-size: 4vh;
	text-align: center;
	line-height: 4vh;
	}

h2.author{
	font-family: 'Montserrat Subrayada';
	color: white;
	font-size: 3vh;
	text-align: center;
	line-height: 4vh;
	}

/*sets how elements marked with the class "transform" will transform, if they are transformed.*/
.transform {
  -webkit-transition: all 10s ease;
  -moz-transition: all 10s ease;
  -o-transition: all 10s ease;
  -ms-transition: all 10s ease;
  transition: all 10s ease;
}

div.spacer{
	width:100%;
	height:14vh;
	background-color: rgba(0,0,0,0.0);
	}

/*Styles the main base story-class blocks. This styling will change via js as the path is taken.*/
div.story {
	margin: auto;
	width: 97%;
	Padding: 10px;
	background-color:rgba(255,255,255,0.7);
	color:black;
	box-shadow: inset 5px 5px 2px white, inset -5px -5px 2px grey;
		}



div.bar {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
}

/* The side navigation menu */
.sidenav {
    height: 90vh; /* 90% viewport height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 8%; /* Stay at the top */
    left: 0;
    background-color: rgba(0,0,0,0.7); /* Black semitrans*/
	overflow: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	box-shadow: inset 5px 5px 2px white, inset -5px -5px 2px grey;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #68e3ff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	color: red;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.sidenav p {font-size: 18px;}
}
